:root {
  --headerBg: #fff;
  --headerBg2: #e9e9e9;
  --headerItemBg: #778ad5;
  --headerItemTxt: #ffffff;
  --headerTxt: #000;
  --headerActiveTxt: #0163f4;

  --heroBg: #f4f7fa;
  --heroTxt: #000;

  --companiesBg: #f4f7fa;
  --companiesTxt: #000;

  --cardBg: #f4f7fa;
  --cardTxt: #000;
  --cardBorder: #e2e2e2;

  --footerBg: #002ace;
  --footerTxt: #fff;

  --decoGradient: rgb(0, 51, 255, 100);
  --decoGradient2: rgb(0, 51, 255, 0);
  --decoSize: 1155px;

  --contentWidth: 1184px;
  --sectionYSpacing: 56px;
  --footerContentWidth: 1024px;

  --ctoTxt: #161c2d;

  --titleTxt: #161c2d;

  --hero_height: 94px;
  --hero_fsz: 80px;
  --hero_fw: 700;

  --companies_fsz: 48px;
  --companies_fw: 700;
  --companies_height: 58px;

  --companies_single_fsz: 36px;
  --companies_single_fw: 500;
  --companies_single_height: 48px;
  --dg_hero_pad_x: 0;
  --hero_tal: right;

  --footer_mar_top: 64px;
  --footer_pad_top: 80px;
  --footer_pad_bot: 80px;

  --page_title_fsz: 80px;
  --page_title_fw: 700;

  --invest_h_fsz: 36px;
  --invest_h_lh: 32px;
  --invest_p_fsz: 18px;
  --invest_p_lh: 32px;

  --contact_title_fsz: 56px;
  --contact_title_weight: 700;
}



@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Gilroy";
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

.dg_header {
  padding: 24px 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dg_header_logo {
  width: 155px;
  height: 72px;
  background-image: url(../assets/img/logo.svg);
  flex-shrink: 0;
  background-repeat: no-repeat;
}

.dg_header_nav_start {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.dg_header_nav_end {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.dg_header_nav_start a,
.dg_header_nav_end a {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--headerTxt);
  transition: all 0.3s;
  position: relative;
}

.dg_header_nav_start a::after,
.dg_header_nav_end a::after {
  content: "";
  background-image: url(../assets/img/star.png);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  position: absolute;
  right: -19px;
  top: -16px;
  background-size: contain;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.dg_header_nav_start a:hover,
.dg_header_nav_end a:hover {
  color: var(--headerActiveTxt);
}

.dg_header_nav_start a.active::after,
.dg_header_nav_end a.active::after {
  opacity: 1;
}

.dg_header_nav_start a.active,
.dg_header_nav_end a.active {
  color: var(--headerActiveTxt);
}

/*companies*/
.dg_section_companies {
  background-color: var(--companiesBg);
  color: var(--companiesTxt);
  height: 277px;
  display: flex;
  align-items: center;
}

.dg_section_companies_slider {
  margin: 0 40px;
  position: relative;
}

.dg_section_owl-dots {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  transform: translateX(-33%);

}

.dg_section_companies_slider div:not(.owl-dots) {
  display: flex;
  align-items: center;
}

.dg_section_companies_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*cards*/
.dg_section_cards,
.dg_section_cto,
.dg_section_mission {
  padding-top: var(--sectionYSpacing);
}

.dg_cards_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.dg_card {
  border: 1px solid var(--cardBorder);
  background-color: var(--cardBg);
  color: var(--cardTxt);
  border-radius: 40px;
  overflow: hidden;
  height: 425px;
}

.dg_card_deco {
  height: 170px;
  background-image: url(../assets/img/deco/11.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.dg_card_info {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 18px;
}

.dg_card h3 {
  font-size: 22px;
  height: 64px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

.dg_invest_root_reverse .dg_invest_start {
  order: 2;
}

.dg_invest_root_reverse .dg_invest_end {
  order: 1;
}

.dg_contact_form_heading {
  font-size: var(--contact_title_fsz);
  font-weight: var(--contact_title_weight);
  margin-bottom: 24px;
  color: var(--titleTxt);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dg_contact_form_grid {
  display: grid;
  grid-template-columns: 1fr 240px;
  column-gap: 148px;
  padding-top: 40px;
  width: var(--contentWidth);
  margin: 0 auto;
}

.dg_card p {
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

/*containers*/
.dg_section_container {
  width: var(--contentWidth);
  margin: 0 auto;
}

.dg_section_hero {
  padding-top: 32px;
  padding-bottom: 56px;
  padding-left: var(--dg_hero_pad_x);
  padding-right: var(--dg_hero_pad_x);
}

/*hero*/
.dg_section_hero_text {
  font-size: 80px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 56px;
}

.dg_section_hero_text p {
  height: var(--hero_height);
  font-size: var(--hero_fsz);
  font-weight: var(--herohero_fwheight);
}

.dg_section_hero_text_right {
  text-align: var(--hero_tal);
}

.dg_deco {
  /* display: none; */
  position: absolute;
  z-index: -1;
  right: -480px;
  top: -90px;
  width: var(--decoSize);
  height: var(--decoSize);
  background: radial-gradient(circle,
      var(--decoGradient) 0%,
      var(--decoGradient2) 50%);
}

.dg_section_heading {
  font-size: var(--companies_fsz);
  height: var(--companies_height);
  font-weight: var(--companies_fw);
  letter-spacing: -1.8px;
  color: var(--titleTxt);
}

.dg_section_cards .dg_section_heading {
  margin-bottom: 64px;
}

/*cto*/
.dg_section_cto_image_wrapper {
  width: 584px;
  height: 611px;
  background-image: url(../assets/img/person.jpg);
  border-radius: 48px;
  flex-shrink: 0;
  background-size: contain;
}

.dg_section_cto .dg_section_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 16px;
}

.dg_section_cto_info_wrapper {
  flex-grow: 1;
  min-width: 1px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.dg_deco_quotes {
  background-image: url(../assets/img/quotes.png);
  width: 86px;
  height: 47px;
  background-size: contain;
  flex-shrink: 0;
}

.dg_section_cto_info_wrapper p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--ctoTxt);
}

.dg_section_cto_footer {
  display: flex;
  align-items: center;
}

.dg_section_cto_footer_mob {
  display: none;
}

.dg_section_cto_name_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

.dg_section_cto_name_wrapper strong {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.dg_section_cto_name_wrapper span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: var(--ctoTxt);
}

.dg_section_cto_signatire {
  background-image: url(../assets/img/sign.png);
  width: 149px;
  height: 51px;
  background-size: contain;
  flex-shrink: 0;
  background-repeat: no-repeat;
}

/*footer*/

.dg_footer_wrapper {
  background-color: var(--footerBg);
  color: var(--footerTxt);
  padding-top: var(--footer_pad_top);
  padding-bottom: var(--footer_pad_bot);
  margin-top: var(--footer_mar_top);
  display: flex;
  align-items: center;
}

.dg_footer_container {
  width: var(--footerContentWidth);
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 46px;
}

.dg_footer_desc_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 300px;
  flex-shrink: 0;
}

.dg_footer_desc_wrapper h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.dg_footer_desc_wrapper p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
}

.dg_footer_socials_wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.dg_footer_social {
  width: 20px;
  height: 20px;
  background-size: contain;
  flex-shrink: 0;
  margin-top: 24px;
}

.dg_footer_social_twitter {
  background-image: url(../assets/img/socials/twitter.png);
}

.dg_footer_social_facebook {
  background-image: url(../assets/img/socials/facebook.png);
}

.dg_footer_social_instagram {
  background-image: url(../assets/img/socials/instagram.png);
}

.dg_footer_social_linkedin {
  background-image: url(../assets/img/socials/linkedin.png);
}

.dg_footer_navigation_wrapper {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.dg_footer_navigation_wrapper a {
  min-width: 100px;
  font-size: 17px;
  line-height: 40px;
  font-weight: 400;
  color: var(--footerTxt);
  text-decoration: none;
}

/*About Us / Our Story */
.dg_page_title {
  font-size: var(--page_title_fsz);
  font-weight: var(--page_title_fw);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 56px;
  color: var(--titleTxt);
  flex-shrink: 0;
  min-width: 1px;
}

.dg_page_paragraph {
  font-size: 19px;
  line-height: 32px;
  font-weight: 400;
  color: var(--titleTxt);
}

.dg_section_story_container {
  display: flex;
  column-gap: 100px;
  padding: 0 90px;
}

.dg_section_story {
  padding-top: calc(var(--sectionYSpacing) + 16px);
}

.dg_section_hero_image {
  border-radius: 48px;
  overflow: hidden;
}

img {
  width: 100%;
}

.dg_section_split_2 {
  display: flex;
  gap: 32px;
}

.dg_section_split_2>div {
  width: 50%;
  flex-shrink: 0;
}

.dg_section_py_m {
  padding-top: 104px;
}

.dg_section_py_s {
  padding-top: var(--sectionYSpacing);
}

.dg_image_4x4_container {
  display: grid;
  grid-template-columns: 224px 224px;
  grid-template-rows: 275px 275px;
  overflow: hidden;
  row-gap: 16px;
  column-gap: 16px;
}

.dg_image_4x4_wrapper {
  border-radius: 8px;
  overflow: hidden;
}

/*card team*/
.dg_card_team {
  height: 452px;
  display: flex;
  flex-direction: column;
}

.dg_card_team_deco {
  height: 356px;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
}

.dg_card_team_desc {
  padding-top: 31px;
}

.dg_card_team_desc strong {
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
  color: var(--titleTxt);
}

.dg_card_team_desc p {
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  color: var(--titleTxt);
}

.dg_section_container_cards_x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

/*Company*/
.dg_section_container_companies_x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.dg_section_investment_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.dg_section_investment_container .dg_page_title {
  margin-bottom: 0;
  text-align: center;
}

.dg_card_company {
  height: 230px;
  border-radius: 40px;
  background-color: var(--cardBg);
  border: 1px solid var(--cardBorder);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dg_card_company a {
  display: block;
  max-width: calc(100% - 64px);
}

.dg_card_company img {
  width: 100%;
}

/*single company*/
.dg_company_detail_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 16px;
  padding-top: 40px;
  width: var(--contentWidth);
  margin: 0 auto;
}

.dg_company_detail_start {}

.dg_company_detail_end {
  border-radius: 48px;
  overflow: hidden;
}

.dg_company_detail_heading_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.dg_company_detail_heading_wrapper>p {
  font-size: var(--companies_single_fsz);
  line-height: var(--companies_single_height);
  font-weight: var(--companies_single_fw);
  color: var(--titleTxt);
}

.dg_company_detail_heading_link {
  display: block;
  width: 134px;
  flex-shrink: 0;
  color: var(--titleTxt);
}

.dg_company_detail_paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 32px;
}

.dg_company_detail_heading_link img {
  width: 100%;
  height: auto;
}

.dg_company_detail_table_root {
  width: 240px;
}

.dg_company_detail_table_row {
  display: grid;
  grid-template-columns: 100px 100px;
  height: 26px;
  column-gap: 8px;
  margin-bottom: 8px;
}

.dg_company_detail_table_row>div:first-child {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #091133;
}

.dg_company_detail_table_row>div:last-child {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #5d6970;
}

/*invest start*/
.dg_invest_root {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 16px;
  padding-top: 40px;
  width: var(--contentWidth);
  margin: 0 auto;
}

.dg_invest_image_root>img {
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
}

.dg_invest_heading_root {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 100px;
  margin-bottom: 40px;
  column-gap: 100px;
  align-items: center;
}

.dg_invest_heading_root>.dg_invest_logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.dg_invest_heading_root>.dg_invest_logo img {
  width: 100%;
}

.dg_invest_heading_root h3 {
  font-weight: 700;
  line-height: var(--invest_h_lh);
  font-size: var(--invest_h_fsz);
}

.dg_invest_paragraph_root p {
  font-weight: 400;
  line-height: var(--invest_p_lh);
  font-size: var(--invest_p_fsz);
  margin-bottom: 32px;
}

/*contact*/
.dg_contact_input_root {
  height: 50px;
  margin-bottom: 26px;
}

.dg_contact_label {
  color: #161c2d;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  height: 25px;
  margin-bottom: 7px;
}

.dg_contact_input_root input {
  width: 100%;
  outline: 0;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  height: 50px;
  font-size: 15px;
  border: 1px solid #e7e9ed;
  background-color: #fff;
  color: #161c2d;
  border-radius: 12px;
  padding: 0 18px;
}

.dg_contact_input_root input::placeholder {
  color: #5c616c;
}

.dg_contact_form_root {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e7e9ed;
}

.dg_contact_submit {
  background-color: #002ace;
  color: #fff;
  height: 59px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 700;
  outline: 0;
  border: 0;
  width: 100%;
  margin-top: 118px;
  cursor: pointer;
  transition: all 0.3s;
}

.dg_contact_submit:hover {
  transform: translateY(-4px);
}

.dg_contact_item {
  margin-bottom: 50px;
}

.dg_contact_item>strong {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #161c2d;
  margin-bottom: 20px;
}

.dg_contact_item>p {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  color: #161c2d;
}

.dg_contact_item a {
  color: #161c2d;
  text-decoration: none;
}

.dg_contact_form_grid_end {
  padding-top: 80px;
}

/*mobile*/
.dg_burger {
  width: 30px;
  height: 24px;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  z-index: 20;
  display: none;
  opacity: 0.9;
}

.dg_burger span {
  width: 100%;
  height: 4px;
  background-color: var(--headerTxt);
  border-radius: 6px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.dg_burger span::before,
.dg_burger span::after {
  content: "";
  width: 100%;
  background-color: var(--headerTxt);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.dg_burger span::before {
  transform: translateY(-8px);
}

.dg_burger span::after {
  transform: translateY(8px);
  margin-top: -4px;
}

.dg_burger.active span {
  background-color: transparent;
}

.dg_burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.dg_burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

@media only screen and (max-width: 1200px) {
  :root {
    --contentWidth: 100%;
  }

  .dg_header_nav_start {
    column-gap: 24px;
  }

  .dg_header {
    padding: 24px 32px;
  }

  .dg_header_logo {
    width: 125px;
    height: 57px;
  }
}

@media only screen and (max-width: 900px) {
  .dg_section_owl-dots {
    transform: translateX(0);
  }

  .dg_burger {
    display: block;
  }

  :root {
    --contentWidth: 100%;
    --hero_height: auto;
    --hero_fsz: 35px;
    --hero_fw: 700;
    --hero_tal: center;
    --dg_hero_pad_x: 16px;
    --companies_fsz: 35px;
    --companies_fw: 700;
    --hero_height: auto;

    --footerContentWidth: 100%;
    --footer_mar_top: 24px;
    --footer_pad_top: 24px;
    --footer_pad_bot: 24px;

    --page_title_fsz: 38px;
    --page_title_fw: 700;

    --sectionYSpacing: 32px;

    --contact_title_fsz: 38px;

    --companies_single_fsz: 34px;
    --companies_single_fw: 500;
    --companies_single_height: 48px;
  }

  .dg_header {
    --nav_item_mob_height: 32px;
    --nav_item_mob_count: 4;
    --nav_header_height: 100px;
    position: relative;
    height: var(--nav_header_height);
    padding: 0 var(--dg_hero_pad_x);
  }

  .dg_header_nav_start,
  .dg_header_nav_end {
    display: none;
    position: absolute;
    top: var(--nav_header_height);
    left: 0;
    right: 0;
  }

  .dg_header_nav_end {
    top: calc(var(--nav_header_height) + var(--nav_item_mob_height) * var(--nav_item_mob_count));
  }

  .dg_header_nav_start a,
  .dg_header_nav_end a {
    height: var(--nav_item_mob_height);
    display: flex;
    width: 100%;
    padding: 0 var(--dg_hero_pad_x);
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--headerBg2);
  }

  .dg_header_nav_start a:hover,
  .dg_header_nav_end a:hover {
    background-color: var(--headerItemBg);
    color: var(--headerItemTxt);
  }

  .dg_header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav_opened .dg_header_nav_start,
  .nav_opened .dg_header_nav_end {
    display: flex;
    flex-direction: column;
    background: var(--headerBg);
  }

  .dg_header_logo {
    width: 115px;
    height: 55px;
  }

  .dg_section {
    flex: auto;
  }

  /*hero*/
  .dg_section_hero_text p {
    text-align: var(--hero_tal);
  }

  .dg_deco {
    display: none;
  }

  /*companies*/
  .dg_section_companies_container {
    flex-direction: column;
  }

  .dg_section_cards .dg_section_heading {
    margin-bottom: 8px;
    text-align: center;
  }

  .dg_card_deco {
    height: 150px;
  }

  .dg_card {
    height: 395px;
  }

  .dg_cards_wrapper {
    grid-template-columns: auto;
    row-gap: 12px;
    column-gap: 0;
    justify-content: center;
  }

  .dg_section_cto .dg_section_container {
    grid-template-columns: 1fr 200px;
    column-gap: 8px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_section_cto_info_wrapper p {
    font-size: 15px;
    line-height: 26px;
  }

  .dg_cards_wrapper .dg_card {
    max-width: 330px;
  }

  .dg_section_cto_image_wrapper {
    width: 200px;
    height: 221px;
    border-radius: 24px;
  }

  .dg_deco_quotes {
    width: 40px;
    height: 22px;
    background-repeat: no-repeat;
  }

  .dg_section_cto_footer_mob {
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .dg_section_cto_footer_web {
    display: none;
  }

  /*footer*/
  .dg_footer_wrapper {
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_footer_container {
    flex-direction: column;
    margin: 0;
    column-gap: 24px;
  }

  .dg_footer_social {
    margin-top: 0;
  }

  .dg_footer_navigation_wrapper {
    flex-direction: column;
    column-gap: 0;
    row-gap: 12px;
    margin-top: 24px;
  }

  .dg_footer_navigation_wrapper a {
    max-width: none;
    min-width: auto;
    line-height: 24px;
  }

  .dg_footer_socials_wrapper {
    justify-content: center;
  }

  .dg_footer_desc_wrapper h3 {
    text-align: center;
  }

  .dg_footer_desc_wrapper p {
    text-align: center;
  }

  .dg_footer_desc_wrapper {
    width: auto;
  }

  /*about us*/
  .dg_section_story_container {
    flex-direction: column;
    column-gap: 24px;
    padding: 0 var(--dg_hero_pad_x);
  }

  .dg_page_title {
    text-align: center;
    margin-bottom: 32px;
  }

  .dg_section_split_2 {
    flex-direction: column;
    row-gap: 12px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_section_split_2>div {
    width: 100%;
  }

  .dg_section_heading {
    text-align: center;
  }

  .dg_section_py_m {
    padding-top: 32px;
  }

  /*spartivka*/
  .dg_section_container_cards_x4 {
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_card_team_deco {
    height: auto;
  }

  .dg_card_team_desc {
    padding-top: 12px;
  }

  .dg_card_team {
    height: 360px;
  }

  .dg_section_story {
    padding-top: 32px;
  }

  .dg_section_heading {
    height: auto;
  }

  .dg_section_container_companies_x3 {
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_company_detail_wrapper {
    grid-template-columns: auto;
    align-items: center;
    row-gap: 24px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_company_detail_table_root {
    width: 100%;
  }

  .dg_company_detail_table_row {
    grid-template-columns: 1fr 1fr;
    height: 32px;
  }

  .dg_company_detail_table_row>div:first-child {
    justify-content: flex-end;
  }

  /*invest*/
  .dg_section_investment_container {
    grid-template-columns: auto;
    align-items: center;
    row-gap: 24px;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_invest_root {
    display: grid;
    grid-template-columns: auto;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_invest_root_reverse .dg_invest_start {
    order: 1;
  }

  .dg_invest_root_reverse .dg_invest_end {
    order: 2;
  }

  .dg_invest_heading_root>.dg_invest_logo {
    width: 50px;
    height: 50px;
  }

  .dg_invest_heading_root {
    margin-bottom: 24px;
  }

  /*contact*/
  .dg_contact_form_grid {
    grid-template-columns: auto;
    column-gap: 24px;
    padding-top: 24px;
    margin: 0;
    padding-left: var(--dg_hero_pad_x);
    padding-right: var(--dg_hero_pad_x);
  }

  .dg_contact_submit {
    margin-top: 24px;
  }

  .dg_contact_form_grid_end {
    padding-top: 24px;
  }

  .dg_contact_item {
    text-align: center;
  }
}













/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}